process {
    //publishDir = [
      //  path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
      //  mode: params.publish_dir_mode,
       // saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
   // ]


    withName: 'BOWTIE2_HOST_IDX' {  
     publishDir = [
                path: { "${params.outdir}/idxs/genome_host" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                enabled: params.save_reference
            ]
        }

    withName: 'BOWTIE2_REF_IDX' {
     publishDir = [
                path: { "${params.outdir}/idxs/genome_ref" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                enabled: params.save_reference
            ]
        }

        withName: 'ALIGN_2_HOST_BOWTIE2' {
            //ext.prefix = "${meta.id}_host"
            ext.args = '--local --very-sensitive-local'
            publishDir = [
                [
                    path: { "${params.outdir}/host_remove/aligned/bam" },
                    mode: params.publish_dir_mode,
                    pattern: "*.log"
                ],
                [
                    path: { "${params.outdir}/meta/unaligned" },
                    mode: params.publish_dir_mode,
                    pattern: "*.fastq.gz",
                    enabled: params.save_unaligned
                ],
                [
                    path: { "${params.outdir}/host_remove/aligned/bam" },
                    mode: params.publish_dir_mode,
                    pattern: "*.bam",
                    enabled: params.save_bam
                ]
            ]
        }
        withName: 'ALIGN_2_REF_BOWTIE2' {
           // ext.prefix = "${meta.id}_ref"
            ext.args = '--local --very-sensitive-local'
            publishDir = [
                [
                    path: { "${params.outdir}/ref_align/aligned" },
                    mode: params.publish_dir_mode,
                    pattern: "*.log"
                ],
                [
                    path: { "${params.outdir}/meta/unaligned" },
                    mode: params.publish_dir_mode,
                    pattern: "*.fastq.gz",
                    enabled: params.save_unaligned
                ],
                [
                    path: { "${params.outdir}/ref_align/aligned" },
                    mode: params.publish_dir_mode,
                    pattern: "*.bam",
                    enabled: params.save_bam
                ]
            ]
        }
}
