params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '4.GB'
    max_time   = '6.h'

    //
    // Input data
    //

    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/viralrecon/samplesheet/v2.6/samplesheet_test_amplicon_illumina.csv'
    outdir = "$projectDir/results"

    save_reference = true
    save_unaligned = true
    save_bam       = true
    sort_bam       = true
    
    // Genome references
    genome_host  =  'https://ftp.ensembl.org/pub/release-109/fasta/chlorocebus_sabaeus/dna/Chlorocebus_sabaeus.ChlSab1.1.dna.chromosome.1.fa.gz'
    gff_host     =  'https://ftp.ensembl.org/pub/release-109/gtf/chlorocebus_sabaeus/Chlorocebus_sabaeus.ChlSab1.1.109.abinitio.gtf.gz'
    
    gff_ref      =  'https://ftp.ensemblgenomes.ebi.ac.uk/pub/protists/release-56/gff3/protists_euglenozoa1_collection/trypanosoma_cruzi_gca_003719455/Trypanosoma_cruzi_gca_003719455.ASM371945v1.56.gff3.gz'
    genome_ref   =  'https://ftp.ensemblgenomes.ebi.ac.uk/pub/protists/release-56/fasta/protists_euglenozoa1_collection/trypanosoma_cruzi_gca_003719455/dna/Trypanosoma_cruzi_gca_003719455.ASM371945v1.dna.toplevel.fa.gz'

}